@import 'utils/vars';

$a-color: #1e1e1e;
$b-color: #3b3b3b;
$c-color: #f3dec8;

.footer {
	//margin-top: 80px;
	background-color: $a-color;
	padding-top: 60px;
	padding-bottom: 24px;
	@media (max-width: $xs - 1) {
		padding: 40px 0 16px;
	}

	&-top{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		padding-bottom: 24px;
		margin-bottom: 24px;
		border-bottom: 1px solid $b-color;

		.header-nav__list{
			a{
				text-transform: none;
				font-size: 16px;
			}

			@media (max-width: $xs - 1) {
				flex-direction: column;
				align-items: center;
			}

		}
		&__social{
			.box-burger__li{
				&:hover{
					fill: $c-color;
				}
			}
		}
	}
	&-bottom{
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 12px;
		@media (max-width: $xs - 1) {
			flex-direction: column-reverse;
			align-items: center;
			justify-content: center;
			gap: 10px;
		}
		a{
			color: $c-primary-hover;
			&:hover{
				text-decoration: underline;
			}
		}
	}

}

.logo{
	width: 150px;
}

.footer-right{
	color: #fff;
	font-size: 1rem;
	&__phone{
		margin-bottom: 10px;
		&:hover{
			color: $c-color;
		}
	}
}