.form{
	&-subtitle{
		margin-bottom: 40px;
		font-size: 20px;
	}
	&-wrapper{
		padding: 40px 60px;
		background-color: rgba(94, 94, 94, 0.56);
		border-radius: 10px;
		backdrop-filter: blur(5px);
	}
	&-inner{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 48px;
	}
	&-item{
		display: flex;
		flex-direction: column;
		gap: 8px;
		&:not(:last-child){
			margin-bottom: 24px;
		}
	}
	&-control{
		display: inline-block;
		height: 40px;
		padding: 5px 12px;
		border-radius: 4px;
		@media (max-width: $sm - 1) {
			height: 32px;
		}
	}
}