$a-color: #364037;
$b-color: #976c42;
$c-color: #f3dec8;

.product-page{
	&__area{
		display: grid;
		grid-template-columns: 150px auto;
		gap: 40px;
	}
	&__tabs{
		display: flex;
		flex-direction: column;
		//overflow: auto;
	}
	&__tab {
		font-size   : 16px;
		padding-left: 10px;
		color       : $c-color;
		//line-height : 1.5;

		transition  : all .3s ease;
		font-weight : 600;
		position    : relative;
		cursor: pointer;
		&:not(:last-child){
			padding-bottom: 5px;
			margin-bottom: 10px;
		}

		&.active {
			pointer-events: none;
			color         : $b-color;

			&:after {
				bottom: 0;

			}
		}

		&:after {
			position        : absolute;
			content         : '';
			left            : 0;
			top: 0;
			bottom          : 100%;
			width          : 3px;
			background-color: $b-color;
			transition      : all .3s ease;

		}

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				color : $a-color;

				&:after {
					right: 0;
				}
			}
		}
	}
	
	&__tab-content {
		padding-top: 40px;
		display    : none;

		@media (max-width: $lg - 1) {
			padding-top  : 0px;
			// border-bottom: 1px solid $b-color;
		}

		.product-descr__table {
			&:first-child {
				margin-top: 0px;
			}
		}

		&.active {
			display: block;
		}

		@media (max-width: $lg - 1) {
			display: none;
		}
	}
}