footer.footer
	.container
		.footer-wrapper
			.footer-left
				img.logo(src="../../assets/img/logo-g.svg", alt="")
			.footer-mid

			.footer-right#contact
				p.footer-right__phone
					a(href="tel:+375291171100") +375 (29) 117-11-00
