.form-subtitle Желаете принять участие, но не знаете с чего начать?<br>Заполните форму ниже, мы свяжемся с Вами в самое ближайшее время.
.form-wrapper
    form(action="#" enctype="multipart/form-data" method="POST" onsubmit="send(event, 'send.php')" id="formContacts")
        .form-inner
            .form-inner__left
                .form-item
                    label Имя
                    input(type="text" required id="formName" name="name" placeholder="Ваше имя").form-control
                .form-item
                    label Фамилия
                    input(type="text" required id="formSurname" name="surname" placeholder="Ваша фамилия").form-control
                .form-item
                    label Телефон
                    input(type="tel" required id="formPhone" name="phone" placeholder="Номер телефона").form-control._req._phone
            .form-inner__right
                .form-item
                    label Задайте нам вопрос
                    textarea(required id="formText" name="text" placeholder="Напишите нам, что Вас интересует").form-control.form-control--textarea
                .form-item
                    .checkbox

                        input(class="form-control" aria-required type='checkbox', id= 'policy', name= 'policy', value='active' data-bv-notempty-message="Заполните поле" required)&attributes(
                            attributes)
                        label(for= 'policy')

                                //span.checkbox__descr я согласен на обработку
                                //    a(href='#')(class="btn btn--text-icon")
                                //        span моих персональных данных
                                //
                        .checkbox__descr Согласен на обработку <a href="#"> <span> персональных данныx </span> </a>


        button.btn.btn--primary Отправить