.form-subtitle Желаете принять участие, но не знаете с чего начать?<br>Заполните форму ниже, мы свяжемся с Вами в самое ближайшее время.
.form-wrapper
    form#form
        .form-inner
            .form-inner__left
                .form-item
                    label Имя
                    input(type="text" placeholder="Ваше имя").form-control
                .form-item
                    label Телефон
                    input(type="text" placeholder="Ваше имя").form-control
            .form-inner__right
                .form-item
                    label Задайте нам вопрос
                    textarea(type="text" placeholder="Ваше имя")