.gallery
	.wrapper-img 
		- for (var i = 1; i <= 12; i++)
			+gallery-card({
				img: `/assets/img/gallery/img-${i}.jpg`
			})
		dl
			dt.question.js-accordion
				button.question__trigger(type="button") больше фото
			dd.answer
					div
						.gallery
							.wrapper-img
								- for (var i = 13; i <= 40; i++)
									+gallery-card({
										img: `/assets/img/gallery/img-${i}.jpg`
									})
