header.header
    .container
        .header-top
            .header-top__left
                .header-logo
                    //| ЛОГОТИП
                    //a(href='https://patriots.by/' target="_blank").header-logo__link
                    //	img(src='../../assets/img/logo-g.svg')

            .header-nav
                nav.scrollto
                    ul.header-nav__list
                        li
                            a.header-nav__li.scrollto(href="#program") Программа
                        li
                            a.header-nav__li.scrollto(href="#review") Отзывы
                        li
                            a.header-nav__li.scrollto(href="#gallery") Галерея
                        li
                            a.header-nav__li.scrollto(href="#form") Участие

            .header-top__right
                .box-social
                    ul.box-social__list

                        li.box-social__li
                            a(href="https://instagram.com/bratsouz_vyzov/" target="_blank")
                                +icon('i-inst')(style="width:24px;height:24px")
                        li.box-social__li
                            a(href="https://t.me/avtoprobegi_zaedinuybelarus" target="_blank")
                                +icon('i-tg')(style="width:28px;height:28px")
                        li.box-social__li
                            a(href="mailto:vplVyzov@yandex.by")
                                +icon('i-mail')(style="width:22px;height:22px")


        .nav-right
            nav.nav-menu
                ul.nav-menu__list
                    li.nav-menu__list-item
                        a.a.scrollto(href="#program") Программа
                    li.nav-menu__list-item
                        a.a.scrollto(href="#review") Отзывы
                    li.nav-menu__list-item
                        a.a.scrollto(href="#gallery") Галерея
                    li.nav-menu__list-item
                        a.a.scrollto(href="#form") Заявка на участие
                    //li.nav-menu__list-item
                    //    a.a.scrollto(href="#contact") Контакты
                    li.nav-menu__list-item
                        .box-burger
                            ul.box-burger__list
                                li.box-burger__li
                                    a(href="https://instagram.com/bratsouz_vyzov/" target="_blank")
                                        +icon('i-inst')(style="width:28px;height:28px")
                                li.box-burger__li
                                    a(href="https://t.me/avtoprobegi_zaedinuybelarus" target="_blank")
                                        +icon('i-tg')(style="width:32px;height:32px")

                                li.box-burger__li
                                    a(href="mailto:vplVyzov@yandex.by")
                                        +icon('i-mail')(style="width:26px;height:26px")

            .hamburger
                span
                span
                span