.product-page__area.product-page__third
    .product-page__tabs
        .product-page__tab(data-tab-index='1').active Огневая подготовка
        .product-page__tab(data-tab-index='2') Техническая подготовка
        .product-page__tab(data-tab-index='3') Тактическая подготовка
        .product-page__tab(data-tab-index='4') Раведывательная подготовка
        .product-page__tab(data-tab-index='5') Военно-инженерная подготовка
        .product-page__tab(data-tab-index='6') Физическая подготовка
        .product-page__tab(data-tab-index='7') Психологическая подготовка
        .product-page__tab(data-tab-index='8') Как стать участником

    .product-page__content
        .product-page__tab-content(data-tab-content='1').active
            .program-bg.active
                +lazy-img({
                    img: `/assets/img/program/p-1.jpg`
                })

            .program-grid
                h2 Огневая подготовка
                .progrm-text

                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor earum explicabo facere, ipsum labore magnam minima porro quia recusandae saepe, sint veniam, voluptate voluptates. Alias, consequatur cum ex exercitationem expedita libero mollitia neque pariatur porro quis quos sapiente ut. Aliquam beatae commodi delectus, enim inventore ipsam ipsum magnam molestiae nam nesciunt, nisi non officiis quod reiciendis reprehenderit sed velit! A ad adipisci beatae deleniti eius, exercitationem facere libero, possimus quia, quos repellat reprehenderit sequi sunt totam velit. Autem cumque nam provident quam quod. Animi aspernatur assumenda esse est, illo ipsam ipsum, laboriosam, laborum modi quasi quidem quis sed voluptate? Laudantium.
                .program-imgs
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-2.jpg`
                        })
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-4.jpg`
                        })
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-1.jpg`
                        })
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-2.jpg`
                        })

        .product-page__tab-content(data-tab-content='2')
            .program-bg
                +lazy-img({
                    img: `/assets/img/program/p-2.jpg`
                })

            .program-grid
                h2 Техническая подготовка
                .progrm-text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sapiente.
                .program-imgs
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-6.jpg`
                        })
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-12.jpg`
                        })
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-5.jpg`
                        })
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-8.jpg`
                        })

        .product-page__tab-content(data-tab-content='3')

            .program-bg
                +lazy-img({
                    img: `/assets/img/program/p-3.jpg`
                })

            .program-grid
                .progrm-text
                    h2 Тактическая подготовка
                .program-imgs
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-5.jpg`
                        })
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-6.jpg`
                        })
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-7.jpg`
                        })
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-8.jpg`
                        })

        .product-page__tab-content(data-tab-content='4')

            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quibusdam necessitatibus eum ipsa, possimus dicta totam commodi! Iusto sed at hic iste, quos, quis debitis alias eius aliquid, inventore similique.
        .product-page__tab-content(data-tab-content='5')
            .program-bg
                +lazy-img({
                    img: `/assets/img/program/p-5.jpg`
                })

            .program-grid
                h2 Военно-инженерная подготовка

                .progrm-text
                    p Lorem ipsa porro quia recusandae sae exercitationem expedita libero mollitia neque pariatur porro quis quos sapiente ut. Aliquam beatae commodi delectus, enim inventore ipsam ipsum magnam molestiae nam nesciunt, nisi non officiis quod reiciendis reprehenderit sed velit! A ad adipisci beatae deleniti eius, exercitationem facere libero, possimus quia, quos repellat reprehenderit sequi sunt totam velit. Autem cumque nam provident quam quod. Animi aspernatur assumenda esse est, illo ipsam ipsum, laboriosam, laborum modi quasi quidem quis sed voluptate? Laudantium.
                .program-imgs
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-9.jpg`
                        })
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-3.jpg`
                        })
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-7.jpg`
                        })
                    .program-img
                        +lazy-img({
                            img: `/assets/img/gallery/img-11.jpg`
                        })



        .product-page__tab-content(data-tab-content='6')

            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quibusdam necessitatibus eum ipsa, possimus dicta totam commodi! Iusto sed at hic iste, quos, quis debitis alias eius aliquid, inventore similique.
        .product-page__tab-content(data-tab-content='7')

            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quibusdam necessitatibus eum ipsa, possimus dicta totam commodi! Iusto sed at hic iste, quos, quis debitis alias eius aliquid, inventore similique.
        .product-page__tab-content(data-tab-content='8')

            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quibusdam necessitatibus eum ipsa, possimus dicta totam commodi! Iusto sed at hic iste, quos, quis debitis alias eius aliquid, inventore similique.
        .product-page__tab-content(data-tab-content='9')

            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias quibusdam necessitatibus eum ipsa, possimus dicta totam commodi! Iusto sed at hic iste, quos, quis debitis alias eius aliquid, inventore similique.
