extends ../layout/base

block content

    section.main-img
        .main-bg

        .title-text
            p.title-text__title ВЫЗОВ
            p.title-text__title-sm военно-патриотический проект совместно с Министерством обороны
            a(href="#form").btn.btn--primary.scrollto Стать участником
        .box
            .box__left
                p.box__title Ближайший старт
                p.box__text-bg 23.10.2000
            .box__right
                p.box__title Учавствовало
                p.box__text-bg 130


    section.section-margin.program#program

        .container
            +section-title('В программе лагеря')
            include ../includes/modules/program

    section.section-margin.bg-2.review#review
        .main-bg.main-bg--right
        .container
            +section-title('Отзывы участников')
            include ../includes/modules/review

    section.section-margin.gallery#gallery
        .container
            +section-title('Галерея')
            include ../includes/modules/gallery

    section.form#form
        .container
            +section-title("Заявка на участие")
            include ../includes/modules/form





